.c-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    .label {
        background: orange;
        color: #000;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        margin-right: 10px;
        .content {
            margin-right: 10px;
            word-wrap: none;
            width: fit-content;
            white-space: nowrap;
        }
        .dote {
            background: #fff;
            $size: 12px;
            border-radius: $size;
            width: $size;
            height: $size;
        }
    }
    .dote {
        background: orangered;
        $size: 6px;
        border-radius: $size;
        min-width: $size;
        min-height: $size;
        margin-right: 10px;
    }
    .hr {
        width: 100%;
        $size: 4px;
        height: $size;
        background: orange;
        border-radius: $size;
    }
}

.download {
    width: fit-content;
    padding: 5px 10px;
    background: #009688;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 20px auto;
    cursor: pointer;
    &:hover {
        background: #00695c;
    }

    a {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .icon {
        width: fit-content;
        height: fit-content;
        margin-right: 10px;
    }
}

//Q & A
.section-faq {
    padding-top: 50px;
}
.hidden {
    display: none;
}
a {
    text-decoration: none;
}
@media (max-width: 768px) {
    .section-faq {
        padding-top: 35px;
    }
}
.section-faq {
    .label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 40px 0;

        h2 {
            color: #bf1e2e;
        }

        .ln {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            span {
                color: #bf1e2e;
                margin: 0 10px;
            }
            &::before,
            &::after {
                content: "";
                display: block;
                width: 60px;
                height: 4px;
                background: #bf1e2e;
            }
        }
    }

    .box {
        position: relative;
        display: flex;
        justify-content: space-between;

        .form {
            width: 100%;
            background-color: #fff;
            padding: 40px 21px;
            box-shadow: 12px 24px 50px 0 rgba(0, 0, 0, 0.06);
        }
    }

    .faq-list .faq .faq-question {
        background-color: #752651;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
            background-color: #732851;
        }

        a {
            color: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .collapsible {
        padding: 20px;
        border: 1px solid #d6d1d4;
        background-color: white;
        box-shadow: 12px 24px 50px 0 rgba(0, 0, 0, 0.06);
        transition: display 0.5s ease;
        -webkit-transition: display 0.5s ease;
        -moz-transition: display 0.5s ease;
        -o-transition: display 0.5s ease;

        .hidden {
            display: none;
            -webkit-transition: display 0.5s ease;
            -moz-transition: display 0.5s ease;
            -o-transition: display 0.5s ease;
        }
    }
}
