footer {
    .logo {
        display: flex;
        justify-content: center;
    }
    .flex-container {
        justify-content: center;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            li {
                list-style: none;
                margin: 0 10px;
            }
        }
        .social-medias {
            display: flex;
            align-items: center;
            gap: 20px;
            .item {
                $size: 40px;
                width: $size;
                height: $size;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}
