header {
    background: colors(header-bg);
    width: 100%;
    max-width: $mobile;
    height: $header-height;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 6px 12px 0px #cccccc47;

    .notice-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
            img {
                width: 80px;
            }
        }
        .contact-info {
            padding-right: 50px;
            .flex-container {
                display: flex;
                .icon {
                    $size: 20px;
                    width: $size;
                    height: $size;
                    border-radius: $size;
                    background: #6d6d6d;
                    color: #fff;
                    margin-right: 5px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            span.sub {
                font-size: 8px;
            }
        }
    }

    nav {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        min-height: 400px;
        overflow-y: scroll;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        background-image: url("../../img/bg-svg.svg");
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #ffffff6b;
        }
        @supports (backdrop-filter: blur(24px)) {
            background: #bcd9de4d;
            backdrop-filter: blur(24px);
            -webkit-backdrop-filter: blur(24px);
        }

        &.active {
            display: flex;
        }

        ul {
            list-style: none;
            text-align: center;
            li {
                margin-bottom: 40px;
                a {
                    margin-bottom: 35px;
                    position: relative;
                    color: blacks(60%);
                    opacity: 0.8;
                    font-size: 24px;
                    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

                    &:active {
                        background-color: black;
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }

                    &.active {
                        opacity: 1;
                        font-weight: bolder;
                        color: blacks(100%);
                        font-size: 24px;

                        &::after,
                        &::before {
                            display: inline-block;
                        }

                        &::before {
                            content: "--> ";
                        }
                    }
                }

                &.contact_us {
                    width: 100vw;
                    margin-top: 200px;
                    position: relative;
                    $_height: 60px;

                    &::before {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 4px;
                        background: colors(sec);
                        position: absolute;
                        top: $_height/2;
                        z-index: 1;
                    }

                    a {
                        width: 150px;
                        height: $_height;
                        color: #fff;
                        font-size: 18px;
                        position: relative;
                        z-index: 2;
                        background: colors(sec);
                        padding: 0 10px;
                        border-radius: $_height;
                        margin: 0 auto;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .nav_tab_icon {
        $size: 40px;
        width: $size - 20px;
        height: $size;
        position: absolute;
        z-index: 3;
        $dimension: 25px;
        top: $dimension;
        right: $dimension;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .item {
            $height: 4px;
            height: $height;
            border-radius: $height;
            background-color: colors(sec);
            margin-bottom: 4px;
            transition: all linear 0.2s;

            &:nth-child(1) {
                width: 100%;
            }

            &:nth-child(2) {
                width: 60%;
            }

            &:nth-child(3) {
                width: 30%;
            }
        }

        &.open {
            .item {
                $height: 5px;
                height: $height;
                border-radius: $height;
                background-color: colors(sec);
                margin-bottom: 6px;

                &:nth-child(1) {
                    width: 100%;
                    transform: rotate(-45deg) translate(-8px, 6px);
                }

                &:nth-child(2) {
                    width: 100%;
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }
}
