@import "../variables";
@import "../default";
@import "../animations";
@import "../modules";
@import "./header";
@import "./footer";
body {
    background: radial-gradient(#655197 2px, transparent 3px), radial-gradient(#655197 2px, transparent 3px), #fff;
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
    main {
        background: #fff;
        width: $desktop;
        padding: $desktop-margins;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        padding-top: $header_height;
        section {
            .c-label {
                margin: 20px 0;
            }
            &.cover {
                height: 300px;
                .swiper {
                    position: absolute;
                    width: 100%;
                    height: 300px;
                    left: 50%;
                    transform: translateX(-50%);
                    .swiper-ctrl {
                        color: #fff;
                        background: rgba(255, 255, 255, 0.571);
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:after {
                            font-size: 20px;
                        }
                    }
                    .swiper-button-prev {
                        left: $desktop-margins;
                    }
                    .swiper-pagination-bullet {
                        background: #ccc;
                        &.swiper-pagination-bullet-active {
                            background: #fff;
                        }
                    }
                    .swiper-slide {
                        width: 100%;
                        padding: 20px $desktop-paddings;
                        color: #fff;
                        &.slide_1 {
                            background: #99d1be;
                        }
                        &.slide_2 {
                            background: #e6e7e9;
                            color: #000;
                        }
                        &.slide_3 {
                            background: #8db8c2;
                        }
                        &.slide_4 {
                            background: rgb(123, 123, 123);
                        }
                        .thumbnail {
                            width: 200px;
                            margin-right: 10px;
                            img {
                                width: 160px;
                                height: 220px;
                            }
                        }
                        .product-title {
                            font-size: 24px;
                            font-weight: bold;
                            color: #000;
                        }
                        .stars {
                            margin-bottom: 10px;
                        }
                        .sub-title {
                            font-size: 14px;
                            margin-bottom: 20px;
                        }
                        a {
                            background: #fff;
                            padding: 10px 20px;
                            color: #000000;
                            border-radius: 50px;
                            position: absolute;
                            right: 80px;
                            bottom: 60px;
                        }
                    }
                }
            }
            &.categories {
                .container {
                    display: grid;
                    grid-gap: 20px;
                    grid-template-areas:
                        "coloring puzzel gift"
                        "education planning gift";
                    padding: 0 $desktop-paddings - $desktop-margins;
                    .categorie-item {
                        position: relative;
                        width: 300px;
                        height: 110px;
                        color: #fff;
                        padding: 10px;
                        border-radius: 8px;
                        &.coloring {
                            grid-area: coloring;
                            background: linear-gradient(132deg, #fad961 3.49%, #f76b1c 97.49%);
                        }
                        &.puzzel {
                            grid-area: puzzel;
                            background: linear-gradient(132deg, #6253e1 3.49%, #04befe 97.49%);
                        }
                        &.education {
                            grid-area: education;
                            background: linear-gradient(132deg, #ce9ffc 3.49%, #7367f0 97.49%);
                        }
                        &.planning {
                            grid-area: planning;
                            background: linear-gradient(132deg, #6b73ff 3.49%, #000dff 97.49%);
                        }
                        &.gift {
                            grid-area: gift;
                            width: 230px;
                            height: 100%;
                            background: linear-gradient(132deg, #ec8c69 3.49%, #fa7199 97.49%);
                        }
                        .icon {
                            $size: 60px;
                            width: $size;
                            height: $size;
                            border-radius: $size;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: rgba(255, 255, 255, 0.142);
                            span {
                                font-size: 35px;
                                opacity: 0.8;
                            }
                        }
                        .label {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                        }
                    }
                }
            }
            &.products {
                .container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 20px;
                    font-size: 12px;
                    padding: 0 $desktop-paddings - 20px;
                    .product-item {
                        color: #000;
                        width: 272px;
                        height: fit-content;
                        background: #fff;
                        border: 1px solid #ccc;
                        border-radius: 6px;
                        .thumbnail {
                            width: 100%;
                            height: 220px;
                            overflow: hidden;
                            position: relative;
                            img {
                                height: 100%;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        .stars {
                            span {
                                font-size: 20px;
                                color: gold;
                            }
                        }
                        .content {
                            padding: 4px;
                            .product-title {
                                font-size: 16px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 3; /* number of lines to show */
                                line-clamp: 3;
                                -webkit-box-orient: vertical;
                            }
                            table {
                                td {
                                    .type {
                                        color: #007185;
                                        font-size: 14px;
                                    }
                                    .highlight {
                                        background: #eb5757;
                                        color: #fff;
                                        font-size: 12px;
                                        padding: 4px;
                                        border-radius: 2px;
                                    }
                                    .price {
                                        .currency,
                                        .float {
                                            font-size: 12px;
                                        }
                                        .num {
                                            font-size: 24px;
                                        }
                                    }
                                    .compared-price {
                                        font-size: 12px;
                                        .compared {
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }
                        }
                        .buy-btn {
                            button {
                                background: transparent;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
